*{
    margin:0px;
    padding:0px;
}
#navbar{
    height:80px;
    background-color: #086DFF;
}
#navbar>h1{
    color:white;
    text-align: center;
    padding:20px 0px;
}
#navbar>h1>a{
    text-decoration: none;
    color:white;
}
#ccall{
    width:60%;
    margin:auto;
}
form{
    display:flex;
    flex-direction: column;
    margin:auto;
}
form>*{
    width:200px;
    margin:10px auto;
}
#sp{
    font-size: 32px;
    color: orangered;
}